.venv
wandb
model1/checkpoints
model1/final_model
model1/final_model_finetuned

/model2/data/
/model2/.vector_cache/
/model2/lstm/
/model2/lstm_traget2/
/model2/lstm_traget/
/model2/saved_models/


.vector_cache/

