pyspark==4.0.1
nltk
wandb
scikit-learn
transformers
huggingface_hub
spark
joblib
gdown==5.2.0                  
torchtext==0.5.0     
spacy==3.8.7
pandas==2.3.3
numpy==2.3.4
seaborn==0.13.2
matplotlib==3.10.7
gensim
wordcloud
# please nstall torch from the official website